name: CI Flask Backend

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  # ---------------- QUALITY ----------------
  quality-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install linters
        run: |
          python -m pip install --upgrade pip
          pip install flake8 black mypy bandit

      - name: Code format (Black)
        run: black --check .

      - name: Lint (Flake8)
        run: flake8 .

      - name: Type checking (MyPy)
        run: mypy app || true

      - name: SAST - Bandit
        run: bandit -r app

      - name: Secret detection (Gitleaks)
        uses: gitleaks/gitleaks-action@v2

  # ---------------- TESTS ----------------
  tests:
    runs-on: ubuntu-latest
    needs: quality-checks   # dépend du job précédent
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpassword
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U testuser"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-flask psycopg2-binary

      - name: Run tests
        env:
          DB_USER: testuser
          DB_PASSWORD: testpassword
          DB_HOST: localhost
          DB_PORT: 5432
          DB_NAME: testdb
          FLASK_ENV: testing
        run: pytest tests/

  # ---------------- SONARCLOUD ----------------
  sonarcloud:
    runs-on: ubuntu-latest
    needs: tests   # dépend des tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
